{% extends "base.html" %}

{% block site_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block title %}
Sig-Frontline | Home
{% endblock %}

{% block body %}
<h1>SIG-Frontline</h1>
<p>SIG-Frontline is an organization of students building tools and applications for NJIT Students.</p>
<a href="https://discord.gg/zPnuVJUMvQ" id="discord_button">Join our Discord!</a>
<h2>Projects</h2>
<h3>Advanced Schedule Builder (In-Progress)</h3>
<blockquote>    
    <p>The Advanced Schedule Builder extends the features of the current <a href="https://uisapppr3.njit.edu/scbldr/">Schedule Builder</a>, with a variety of new improvements:</p>
    <ul>
        <li>Refreshed UI</li>
        <li>Course Filtering (Online, Honors, Time, Day, Subject, Building, etc.)</li>
        <li>Custom Events</li>
        <li>Prerequisite Validation</li>
        <li>Calendar Export (& Other Types)</li>
        <li>Plans</li>
        <li>and most importantly, <strong style="display:inline">D A R K   M O D E</strong></li>
    </ul>
    We are hoping to have a MVP finished in Summer '24, and potentially propose it to IST to replace the current Schedule Builder.
</blockquote>
<h3>Room Availability (Not Started)</h3>
<blockquote>
    <p>Show all rooms in NJIT and whether they are in use or not, pulling class data as well as events from HighlanderHub.</p>
    <p>This wouldn't cover everything, but it would give a good sense of what's available, especially outside of common meeting spots.</p>
</blockquote>
<h2>Contact</h2>
Most Sig-Frontline communications take place on the <a href="https://discord.gg/zPnuVJUMvQ">Discord</a>.<br><br>
Emails:
<ul>
    <li>Ethan Ho (ekh3@njit.edu) - Organizer</li>
    <li>Kamil Arif (kma56@njit.edu) - PM. Data</li>
    <li>Benjamin Shuster (bzs6@njit.edu) - PM. Front-end</li>
</ul>
{% endblock %}